body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cadastro-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  padding: 30px;
}

.cadastro-card {
  width: 60%;
  padding: 20px;
}

.cadastro-card h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

/* Define largura consistente para todos os inputs, selects e o botão */
.input-group input,
.input-group select,
button {
  width: 100%;  /* Todos os inputs, selects e o botão terão a mesma largura */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #e58e1d;
}

/* Estilos para o botão */
button {
  background-color: #e58e1d;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d68c16;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.login-link a {
  color: #e58e1d;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.cadastro-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.cadastro-image {
  width: 200px;
  height: 600px;
  height: auto;
}
