body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  /* overflow-x: hidden;  */
}

.cadastro-container {
  display: flex;
  justify-content: space-between;
  height: 100vh; /* Ocupar a altura total da tela */
  margin: 0;
}

.cadastro-card {
  width: 57%; /* Ocupar 60% da largura para o formulário */
  padding: 20px;
  overflow-y: auto; /* Permitir rolagem apenas no formulário */
  /* max-height: 100vh;  */
  background-color: #ffffff;
}

h1 {
  margin-bottom: 40px;
  color: #333;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group input,
.input-group select,
button {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #e58e1d;
}

button {
  background-color: #e58e1d;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d68c16;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.login-link a {
  color: #e58e1d;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.cadastro-image-container {
  width: 40%; /* A imagem ocupará 40% da tela */
  position: fixed; /* Fixar a imagem no lado direito */
  top: 0;
  right: 0;
  height: 100%; /* A imagem ocupará toda a altura da tela */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cadastro-image {
  max-width: 100%;
  height: auto;
}

.input-group input {
  width: 100%;
  display: block;
}

#cadastro-form {
  display: flex;
  flex-direction: column;
}

.radio-input {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
