@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}

.login-card h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400px;
}

.input-field {
    width: 99.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #e58e1d;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 92.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #e58e1d;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e58e1d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e58e1d;
}

.reset {
    display: block;
    margin-top: 20px;
    color: #e58e1d;
    font-size: 14px;
    text-decoration: none;
}

.signup-link {
    font-size: 14px;
    color: #333;
    display: inline;
}

.signup-link a {
    color: #e58e1d;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.login-image {
    display: block;
    margin: 0 auto 20px auto;
    width: 100px;
}