body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

.category {
  margin-bottom: 40px;
}

.subcategory {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.subcategory li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subcategory li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

button.category-btn {
  background-color: #F39C21;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
}

button.category-btn:hover {
  background-color: #e58e1d;
}

.category-content {
  display: none;
  padding-left: 20px;
}

.show {
  display: block;
}

.arrow {
  float: right;
  font-size: 20px;
}

.preco {
  font-weight: bold;
  color: #e58e1d;
  margin-left: 5px;
}

.add-button,
.remove-button {
  background-color: #0051A0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.add-button:hover {
  background-color: #003f80;
}

.remove-button {
  background-color: #dc3545;
}

.remove-button:hover {
  background-color: #c82333;
}

.total-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #0051A0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky; /* Torna o container "Total" fixo */
  top: 20px; /* A distância do topo da tela */
}

.titulo {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #0051A0;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-agendar,
.btn-cancelar {
  background-color: #0051A0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  margin-right: 10px; /* Espaço entre os botões */
  text-decoration: none;
  text-align: center;
}

.btn-agendar:hover {
  background-color: #003f80;
}

.btn-cancelar {
  background-color: #dc3545;
  margin-right: 0; /* Remove a margem à direita do último botão */
}

.btn-cancelar:hover {
  background-color: #c82333;
}

/* CSS Adicional */

#servicos-container {
  max-height: 600px; /* Defina a altura máxima para o container de serviços */
  overflow-y: auto; /* Habilite a rolagem vertical */
}

#services-list {
  text-align: left; /* Alinha o texto à esquerda */
  padding-left: 0;
}

#services-list li {
  list-style-type: none;
  padding: 5px 0;
  display: flex;
  justify-content: space-between; /* Distribui o nome do serviço e o valor */
  align-items: center;
  border-bottom: 1px solid #e0e0e0; /* Linha de separação opcional */
}

#services-list li span {
  margin-right: 10px;
}

