body {
    font-family: Arial, sans-serif;
}
.content {
    margin-left: 270px;
    padding: 20px;
}

#button-cadastrar {
    background-color: #008D4C;
    border-color: #008D4C;
}

@media screen and (min-width: 200px) and (max-width: 762px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
        font-size: 27px;
    }
  
    .sidebar {
      display: none;
      width: 200px;
      height: 350px;
      background-color: #343a40;
      color: white;
      position: absolute;
      top: 60px;
      z-index: 1001; 
      border-radius: 5px;
      right: 0;
    }
  
    .hamburger {
      display: block;
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 20px;
      padding-bottom: 0;
      color: #003f80;
    }
  
    .sidebar ul {
      display: block;
      background-color: #343a40;
      padding: 10px;
    }
  
    .sidebar ul li {
      margin: 10px 0;
    }
  }
