body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}
.navbar .dropdown-toggle img {
    margin-right: 5px;
}

.calendar-container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

#calendar {
    margin-bottom: 20px;
}

.available-times,
.summary {
    margin: 20px 0;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.time-button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #F39C21;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.time-button:hover {
    background-color: #28a745;
}

.selected-time {
    background-color: #28a745 !important;
}

.action-buttons {
    text-align: center;
}

.confirm-button,
.cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

.confirm-button {
    background-color: #0051A0;
    color: white;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .professional-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .professional-image {
        margin-bottom: 10px;
    }
}