body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.cadastro-container {
  display: flex;
  justify-content: space-between;
  height: 100vh; 
  margin: 0 0 0 10%;
}

.cadastro-card {
  width: 40%; 
  padding: 20px;
  background-color: #ffffff;
}

h1 {
  margin-bottom: 40px;
  color: #333;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group input,
.input-group select,
button {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #e58e1d;
}

button {
  background-color: #e58e1d;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d68c16;
}

.login-link {
  margin: 20px 0 36px 0;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.login-link a {
  color: #e58e1d;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.cadastro-image-container {
  width: 40%; 
  position: fixed; 
  top: 0;
  right: 0;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cadastro-image {
  max-width: 100%;
  height: auto;
}

.input-group input {
  width: 97%;
  display: block;
}

#cadastro-form {
  display: flex;
  flex-direction: column;
}

.radio-input {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#aluno-sim, 
#aluno-nao {
  width: 20px;
}
