
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .sidebar {
            width: 250px;
            background-color: #343a40;
            color: white;
            position: fixed;
            height: 100%;
            padding: 20px;
        }

        .sidebar h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }

        .sidebar ul li {
            margin: 20px 0;
        }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        .sidebar ul li a:hover {
            color: #f8f9fa;
        }

        .content {
            margin-left: 270px; /* Espaço para a sidebar */
            padding: 20px;
        }

        .table img {
            width: 50px; /* Ajuste o tamanho da imagem aqui */
            height: 50px;
            border-radius: 50%; /* Torna a imagem redonda */
        }
    